body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(78, 154, 231);
}

header {
  height: 100px;
  display: flex;
  align-items: center;
}

header > p {
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: whitesmoke;
  font-size: 40px;
  margin: auto;
}

/* Default styles */
html {
  box-sizing: border-box;
  font-size: 16px;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Content */
.content {
  position: relative;
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
  margin-top: 16px;
}
img {
  max-width: 500px;
  height: auto;
  max-height: 460px;
  object-fit: contain;
}
h1,
h2 {
  position: absolute;
  margin: 0;
  width: 100%;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  -webkit-text-stroke: 3px black;
  line-height: 1;
}
h1 {
  top: 16px;
}
h2 {
  bottom: 32px;
}
/* Form */
.form {
  margin: 0 auto;
  max-width: 500px;
}
.form__inputs,
.form__btns {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.form__inputs {
  margin-bottom: 12px;
}
.form__inputs button {
  background-color: rgb(6, 58, 105);
  color: whitesmoke;
}

.form__inputs input {
  padding: 8px;
  width: 100%;
  max-width: 50%;
  border: 1px solid #ccc;
}
.form__inputs input:focus {
  outline-color: #0984e3;
}

.form__btns label,
button {
  margin-left: 8px;
  border-radius: 2px;
  background: rgb(6, 58, 105);
  padding: 8px 12px;
  border: 0;
  cursor: pointer;
  color: #fff;
  box-shadow: 2px 2px 0 #034154;
  transition: opacity 0.4s ease-out, transform 0.4s ease-out,
    visibility 0.4s ease-out;
}
